/*  CSS by welkin
 *  Website: https://welkinhere.github.io/
 *
 *  Theme Color: #2caffe
 *  
 */


/* 超链接自定义色彩 */

a:link {
    color: #2caffe;
    text-decoration: none;
    background-color: #2caffe11;
    border-radius: 4px;
}

a:visited {
    color: #acaffe;
    text-decoration: none;
}

a:hover {
    color: #0accff;
    text-decoration: underline;
    background-color: #2caffe33;
    border-radius: 4px;
}

a:active {
    color: #2caffe66;
    text-decoration: underline;
}


/* 全局定义 */

body {
    display: grid;
    background-color: #fcfdf8;
    margin: 0px;
    border: 0px;
    padding: 0px;
}


/* 标题栏 */

div#header {
    display: flex;
    background-color: #2caffe33;
    color: #2caffe;
    margin: 0px;
    border: 0px;
    padding-left: 7%;
    padding-right: 7%;
    height: min-content;
}

div#nav-top {
    align-self: center;
    position: absolute;
    right: 7%;
}


/* 页面主体 */

div#container {
    display: flex;
}


/* 左侧的导航栏 */

div#nav-left {
    display: flex;
    position: sticky;
    top: 1%;
    flex-direction: column;
    background-color: #2caffe33;
    color: #2caffe;
    margin-top: 25px;
    margin-left: 7%;
    margin-right: 1%;
    border: 0px;
    padding: 1%;
    width: 12%;
    height: max-content;
    border-radius: 8px;
}

div#nav-left h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #2cafff;
    border-bottom-width: 3px;
    margin-top: 0px;
    margin-bottom: 3px;
}

div#nav-left ul {
    font-size: 0.8em;
    font-weight: thin;
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 3px;
}


/* 中间的内容 */

div#content {
    display: flex;
    flex-direction: column;
    background-color: #2caffe33;
    color: #2caffe;
    margin-top: 25px;
    border: 0px;
    padding: 2%;
    width: 60%;
    height: max-content;
    border-radius: 8px;
}

div#content h1#post-title {
    font-size: 2.6em;
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom-style: solid;
    border-bottom-color: #2cafff;
    border-bottom-width: 5px;
    margin-top: 0px;
    margin-bottom: 9px;
}

div#content p#post-info {
    font-size: 0.8em;
    font-weight: thin;
    margin: 0px;
    padding-bottom: 27px;
}


/* 右侧的侧边信息栏 */

div#sidebar {
    display: flex;
    position: sticky;
    top: 1%;
    flex-direction: column;
    background-color: #2caffe33;
    color: #2caffe;
    margin-top: 25px;
    margin-left: 1%;
    margin-right: 7%;
    border: 0px;
    padding: 1%;
    width: 12%;
    height: max-content;
    border-radius: 8px;
}

div#sidebar h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #2cafff;
    border-bottom-width: 3px;
    margin-top: 0px;
    margin-bottom: 3px;
}

div#recent-post {
    margin-top: 10%
}

div#sidebar p {
    font-size: 0.8em;
    font-weight: thin;
    margin: 0px;
}

div#sidebar nl {
    font-size: 0.8em;
    font-weight: thin;
    margin: 0px;
}


/* 页脚 */

div#footer {
    background-color: grey;
    color: darkgray;
    margin-top: 30px;
    border: 0px;
    padding-bottom: 50px;
    height: max-content;
    text-align: center;
}